
alias C="rails console"
alias S="rails server"
alias T="tail -f "
alias TL="tail -f log/local.log"
alias F="foreman start"
alias GCO="git commit -a -m"
alias GS="git status"
alias IOS="open /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/Applications/iPhone\ Simulator.app"